/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/CHANGELOG.md
/learn-terraform-docker-container.iml
/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/LICENSE
/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/README.md
/terraform.tfstate
/terraform.tfstate.backup
/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/terraform-provider-docker_v2.13.0
